html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    --rvv: calc(1rem + 1vh + 1vw);

	--blue: #2E5169;
    --blue-gray: #5E686D;
    --brown: #6F5746;
    --brown-muted: #63584C;
    --brown-tan: #A58F85;
    --forest-green: #4D663E;
    --green-brown: #5F563F;
    --gray-tan: #C9BBA3;
    --tan-gray: #D1C9BA;
    --off-white: #E4D9C5;
    --orange-yellow: #E1B270;
    --orange-tan: #CDA885;
    --red: #AC3A3E;
    --special-red: #824E4A;
    --tan: #D2BC9B;

	--title-footer-color: #ba8e5ede;
	--nav-bg: #e4d9c574;
	--now-button: #749c5d;
	--later-button: #b56c67;
	--all-button: #e0a85bc2;
	--button-outline: #f0991fd5;
	--input-focus-outline: #e5982d;
	--input-valid-outline:#4D663E;
	--main-bg: #e1cfae97;
	--item-bg: #2086ca92;
	--now-item-bg: #629c407c;
	--later-item-bg: #da8680c1;
	--description-bg: #d8f2ff95;
	--add-button: #ba8d5e85;
	--add-form-bg: #f0d7a9de;
	--priority-button-default: #c8b5a285;
	--form-button: #ba8d5e85;
	--form-input-bg: #F3EEE5;
	--close-button: #986f4471;
}

@font-face {
	font-family: 'Major Mono';
	src: url('font/major-mono/major-mono.ttf');
}

@font-face {
	font-family: 'Sublima';
	src: url('font/sublima/sublima-light.otf');
}

@font-face {
	font-family: 'Sublima Bold';
	src: url('font/sublima/sublima-extra-bold.otf');
}

html,
body {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header {
	height: 15vh;
	display: flex;
	flex-direction: column;
}

.title {
	flex: 1;
	overflow-x: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Sublima';
	font-size: calc(0.5*var(--rvv));
	letter-spacing: calc(0.1*var(--rvv));
	text-indent: calc(0.1*var(--rvv));
	background-color: var(--title-footer-color);
	border-bottom: 1px solid black;
}

.nav {
	flex: 2;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: 'Major Mono';
	background-color: var(--nav-bg);
	border-bottom: 1px solid black;
}

.nav div {
	font-size: calc(0.6*var(--rvv));
	cursor: pointer;
	width: calc(3*var(--rvv));
	height: calc(var(--rvv));
	border: 1px solid black;
	border-radius: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.now {
	background-color: var(--now-button);
}

.now,
.all {
	letter-spacing: calc(0.3*var(--rvv));
	text-indent: calc(0.3*var(--rvv));
}

.later {
	background-color: var(--later-button);
	letter-spacing: calc(0.1*var(--rvv));
	text-indent: calc(0.1*var(--rvv));
}

.all {
	background-color: var(--all-button);
}

.selected {
	box-shadow: 0 0 0 3px var(--button-outline);
}

.main {
	flex: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: calc(0.5*var(--rvv)) 0;
	gap: calc(0.6*var(--rvv));
	background-color: var(--main-bg);
}

.displayed-item {
	width: 90vw;
	max-width: calc(15*var(--rvv));
	position: relative;
	font-family: 'Sublima';
	font-size: calc(0.6*var(--rvv));
	padding: calc(0.1*var(--rvv)) calc(0.3*var(--rvv));
	border: 1px solid black;
	border-radius: calc(0.8*var(--rvv));
	margin: 0 calc(0.7*var(--rvv));
	display: grid;
	grid-template-columns: calc(1.4*var(--rvv)) 1fr calc(var(--rvv));
	grid-template-rows: 1fr;
	grid-template-areas: "checkbox title expand";
	background-color: var(--item-bg);
}

.displayed-item.now-item {
	background-color: var(--now-item-bg);
}

.displayed-item.later-item {
	background-color: var(--later-item-bg);
}

.expanded-item {
	display: grid;
	grid-template-columns: calc(1.4*var(--rvv)) 1fr calc(var(--rvv));
	grid-template-rows: 1fr 3fr;
	grid-template-areas: 
		"checkbox title expand"
		". description delete";
}

.expanded-item .item-title {
	cursor: auto;
}

.completed-item {
	filter: grayscale(70%);
}

.completed-item .item-title {
	font-style: italic;
	text-decoration: underline calc(0.04*var(--rvv)) black;
	text-decoration-skip-ink: none;
	text-underline-offset: calc(-0.2*var(--rvv));
}

.completed-item .item-description {
	font-style: italic;
}

.displayed-item.add-item-button {
	padding: 0;
	margin: 0;
	cursor: pointer;
	background-color: var(--add-button);
	height: calc(1.5*var(--rvv));
	width: calc(1.5*var(--rvv));
	display: flex;
	justify-content: center;
	align-items: center;
}

.add-item-button img {
	max-height: 100%;
	max-width: 100%;
}

.displayed-item.add-form {
	display: block;
	background-color: var(--add-form-bg);
}

.add-form-itself {
	display: grid;
	grid-template-rows: calc(1.7*var(--rvv)) calc(var(--rvv)) calc(4*var(--rvv)) calc(var(--rvv)) calc(2.2*var(--rvv));
	row-gap: calc(0.25*var(--rvv));
	grid-template-areas:
		"form-title"
		"title-section"
		"description-section"
		"priority-section"
		"submit-button";
}

.form-title {
	margin: 0 1%;
	max-width: 90vw;
	grid-area: form-title;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-title-text {
	font-size: calc(0.8*var(--rvv));
}

.form-title-text:hover {
	font-style: italic;
}

.close-button {
	background-color: var(--close-button);
	margin-left: auto;
	border: 1px solid black;
	height: calc(0.9*var(--rvv));
	width: calc(0.9*var(--rvv));
	border-radius: calc(var(--rvv));
	display: flex;
	justify-content: center;
	align-items: center;
}

.close-button img {
	height: 100%;
}

.title-section {
	grid-area: title-section;
	display: grid;
	grid-template-columns: calc(3.5*var(--rvv)) 1fr;
}

.title-section label {
	font-size: calc(0.5*var(--rvv));
}

.title-section input,
.description-section textarea {
	width: 93%;
	background-color: var(--form-input-bg);
	border: 1px solid black;
	border-radius: calc(var(--rvv));
	padding-left: 10px;
	font-family: 'Sublima';
	font-size: calc(0.45*var(--rvv));
}

.description-section textarea {
	border-radius: calc(0.5*var(--rvv));
	resize: none;
}

input:focus,
textarea:focus {
	appearance: none;
	outline: none;
	box-shadow: 0 0 0 3px var(--input-focus-outline);
}

input:not(:focus),
textarea:not(:focus) {
	cursor: pointer;
}

.description-section {
	grid-area: description-section;
	display: grid;
	grid-template-columns: calc(3.5*var(--rvv)) 1fr;
}

.description-section label {
	font-size: calc(0.5*var(--rvv));
}

.priority-section {
	margin-top: 2px;
	grid-area: priority-section;
	display: grid;
	grid-template-columns: calc(3.5*var(--rvv)) 1fr 1fr;
}

.priority-label {
	font-size: calc(0.5*var(--rvv));
}

.radio-option {
	cursor: pointer;
	font-family: 'Major Mono';
	width: calc(3*var(--rvv));
	height: calc(var(--rvv));
	border: 1px solid black;
	border-radius: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--priority-button-default);
}

.radio-option label {
	cursor: pointer;
}

.now-option {
	justify-self: center;
	letter-spacing: calc(0.3*var(--rvv));
	text-indent: calc(0.3*var(--rvv));
}

.now-option.selected-priority {
	background-color: var(--now-button);
	box-shadow: 0 0 0 3px var(--button-outline);
}

.later-option {
	justify-self: center;
	letter-spacing: calc(0.1*var(--rvv));
	text-indent: calc(0.1*var(--rvv));
}

.later-option.selected-priority {
	background-color: var(--later-button);
	box-shadow: 0 0 0 3px var(--button-outline);
}

.radio-input {
	display: none;
	padding: 0;
	margin: 0;
	appearance: none;
}

.submit-button {
	cursor: pointer;
	grid-area: submit-button;
	font-family: 'Sublima';
	background-color: #87b6d5b4;
	align-self: center;
	justify-self: center;
	border: 1px solid black;
	height: calc(1.5*var(--rvv));
	width: 95%;
	border-radius: calc(var(--rvv));
	display: flex;
	justify-content: center;
	align-items: center;
}

.submit-button img {
	height: 100%;
}

.displayed-item img {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.checkbox img,
.expand img {
	width: calc(var(--rvv));
}

.checkbox {
	grid-area: checkbox;
	margin-left: calc(0.2*var(--rvv));
}

.item-title {
	cursor: pointer;
	position: relative;
	bottom: 2px;
	grid-area: title;
	justify-self: start;
}

.expand {
	grid-area: expand;
}

.shrink {
	grid-area: expand;
	aspect-ratio: 1 / 1;
}

.shrink img {
	height: calc(var(--rvv));
}

.item-description {
	border-radius: 3px;
	font-style: italic;
	grid-area: description;
	align-self: flex-start;
	justify-self: flex-start;
	font-size: 80%;
}

.expanded-item .delete {
	grid-area: delete;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: calc(0.3*var(--rvv));
}

.delete img {
	height: calc(var(--rvv));
}

footer {
	height: 5vh;
	background-color: var(--title-footer-color);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(0.5*var(--rvv));
	border-top: 1px solid black;
	font-family: 'Sublima';
	font-size: calc(0.4*var(--rvv));
	letter-spacing: calc(0.1*var(--rvv));
	text-indent: calc(0.1*var(--rvv));
}

/* desktop version: */
@media only screen and (min-width: 750px) {

	.nav div {
		transition: 0.075s linear;
	}

	.nav div:hover {
		transform: scale(1.05);
	}

	.checkbox,
	.expand,
	.shrink,
	.delete,
	.add-item-button,
	.radio-option,
	.submit-button,
	.close-button {
		transition: 0.075s linear;
	}

	.checkbox:hover {
		transform: scale(1.075);
	}

	.expand:hover {
		transform: scale(1.25);
	}

	.shrink:hover {
		transform: scale(1.1);
	}

	.delete:hover {
		transform: scale(1.075);
	}

	.add-item-button:hover {
		transform: scale(1.05);
	}

	.radio-option:hover {
		transform: scale(1.05);
	}

	.submit-button:hover {
		transform: scale(1.01);
	}

	.close-button:hover {
		transform: scale(1.1);
	}

}